div.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    background-color: lightblue;
    text-align: center;
    font-size: 20pt;
}

.menu {
    counter-reset: item;
		.item
		{
			position: absolute;
		}
}
.menu .item:first-child{
		background-color: red;
		width: 200px;
		position: absolute;
		color: contrast((blue));
		transform-origin: 0 10px;
		transform: rotate(0deg);
			text-align: right;
		transition: transform 1s;
}
.menu .item:nth-child(2){

		width: 210px;
		position: absolute;
		transform-origin: 0 11px;
		transform: rotate(0deg);
		transition: transform 1s;
    color: red;
}


.menu.open .item:first-child{
		transform-origin: 0 10px;
		transform: rotate(-20deg);

		transition: transform 1s;

}
.menu.open .item:nth-child(2) {
		transform-origin: 0 11px;
		text-align: right;
		transform: rotate(-20deg);
    color: black;
		transition: transform 1s;

}


.loop(@counter, @yorigin) when (@counter <8)
{
	.loop(@counter + 1,@yorigin + 12);
    .menu .item:nth-child(@{counter}) {
        width: 2em;
        position: absolute;
        text-align: right;
        transition: width 1s;
				color: blue;
        a:link {
            color: red;
        }
    }
		.menu.open .item:nth-child(@{counter})
		{
			display: inline-block;
			width: @yorigin;
			text-align: right;
			transition: width 2s;
      a:link {
          color: black;
      }
		}
    .menu.item:nth-child(@{counter}).selected
		{
      .menu.open .item:nth-child(2) {
          transform-origin: 0 11px;
          text-align: right;
          transform: rotate(60deg);
          transition: transform 1s;
      }
		}
	}
		// .menu.open .item:nth-child(3)
		// {
		// 	display: inline-block;
		// 	width: 10em;
		// 	text-align: right;
		// 	transition: width 2s;
		// }
		// .menu.open .item:nth-child(4)
		// {
		// 	display: inline-block;
		// 	width: 20em;
		// 	text-align: right;
		// 	transition: width 2s;
		// }
		// .menu.open .item:nth-child(5)
		// {
		// 	display: inline-block;
		// 	width: 30em;
		// 	text-align: right;
		// 	transition: width 2s;
		// }
		// .menu.open .item:nth-child(6)
		// {
		// 	display: inline-block;
		// 	width: 40em;
		// 	text-align: right;
		// 	transition: width 2s;
		// }
		// .menu.open .item:nth-child(7)
		// {
		// 	display: inline-block;
		// 	width: 50em;
		// 	text-align: right;
		// 	transition: width 2s;
		// }


.content {
	padding-top: 20px;
    .menu {
        position: relative;
    }
		.loop(3,20em);
}
