
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>We Do not accept or money</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style4.less" />
    	<script src="chatting.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  </head>
  <body>
    <div class="header">
      We Do Not Accept Money Or Things
    </div>
    <div class="Navigation">
      <div class="item"><a href="index.html">Home</a></div>
      <div class="item"><a href="Donors.php">Donors Registration</a></div>
      <div class="item"><a href="inneed.php">Person in need Registration</a></div>
      <div class="item"><a href="donorlist.php">Our Current Donors</a></div>
      <div class="item"><a href="index.html">Contact us</a></div>

    </div>
    <div class="info">
      <h1>{{name}}</h1>
        <form action="{{page}}" method="post">
            <label for="Name">Name:</label>
            <input type="text" name="fname" ><br>
            <label for="LName">Last name:</label>
            <input type="text" name="lname"><br>
            <label for="Email">Email:</label>
            <input type="text" name="Email"><br>
            <label for="contact">ContactPhone:</label>
            <input type="text" name="Contact"><br>
            <label for="company">CompanyName:*</label>
            <input type="text" name="Company" ><br>
            <label for="Questions">Question:</label>
            <input type="text" name="Question" ><br>
            <input type="submit" value="Submit" class="submit" >
        </form>

    </div>
    <div class="ajax">
      <form name = "info">
      Enter your name: <input type="text" name="name"><br>
      Enter your message: <input type="text" name="message">
      <button type="button" onclick="messageSend()">Reply</button>
    </form>
    </div>
    <div class="Foot">
      <p>prithvi65432@gmail.com</p>
      <p>6048089503</p>
    </div>
    <div class="logins">
      <div class="item3">
        <a href="donorlog.php">Donors Login</a>
      </div>
      <div class="item3">
        <a href="needlogin.php">In Need Login</a>
      </div>
    </div>
  </body>
</html>
