<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="dlogin.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  </head>
  <body>
    <main>
			<div class="header">
	      We Do Not Accept Money Or Things
	    </div>
      <div class="container">
        <h2>{{type}} Login</h2>
        <form action="{{page}}" method="post">


        <label for="usr-name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required>

        <button type="Login">Login</button>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
