
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>We Do not accept or money</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style3.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  </head>
  <body>
    <div class="header">
      We Do Not Accept Money Or Things
    </div>
    <div class="Navigation">
      <div class="item"><a href="index.html">Home</a></div>
      <div class="item"><a href="Donors.php">Donors Registration</a></div>
      <div class="item"><a href="inneed.php">Person in need Registration</a></div>
      <div class="item"><a href="donorlist.php">Our Current Donors</a></div>
      <div class="item"><a href="contact.php">Contact us</a></div>

    </div>
    <div class="info">
      <h1>{{type}}</h1>
			<div id="slideshow">
				 <div class="img">
					 <img src="{{img1}}">
				 	 <p>{{name1}}</p>
				 </div>
				 <div class= "img">
					 <img src="{{img2}}">
					 <p>{{name2}}</p>
				 </div>
				 <div>
					 <img src="{{img3}}">
					 <p>{{name3}}</p>
				 </div>
         <div>
					 <img src="{{img4}}">
					 <p>{{name4}}</p>
				 </div>
         <div>
					 <img src="{{img5}}">
					 <p>{{name5}}</p>
				 </div>
			</div>
    </div>
    <div class="Foot">
      <p>prithvi65432@gmail.com</p>
      <p>6048089503</p>
    </div>
    <div class="logins">
      <div class="item3">
        <a href="donorlog.php">Donors Login</a>
      </div>
      <div class="item3">
        <a href="needlogin.php">In Need Login</a>
      </div>
    </div>
  </body>
</html>
