@bg1:#524968;
@bg3:#b50c6e;
.header {
  grid-area: header;
  background-color: @bg1;
  height: 50px;
  text-align: center;
  font-size: 40px;

  padding-top: 20px;

}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
h2 {
	text-align: center;
	font-size: 35px;
	color: @bg3;
}
.container {
		 margin-left: 20%;
		// margin-right: 20%;
    position: fixed; /* Stay in place */
   	margin-top: 10%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
label {
	font-size: 30px;
	text-align: left;
	color: @bg3;
}
//
// body {
// 	margin: 0;
//   background-size: 100vw 100vh;
//   /* opacity: 0.6; */
//   background-repeat: no-repeat;
//   -webkit-animation: background-change 30s;
//   animation: background-change 30s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//
// }
//
//
//
// @-webkit-keyframes background-change {
//   /* First key frame */
//   0% {
//     background-image: url(donor.png);
//   }
//
//   /* Second key frame */
//   50% {
//     background-image: url(donor2.jpg);
//   }
//
//   /* Third key frame */
//   100% {
//     background-image: url(donor3.jpg);
//   }
// }
//
//
// @keyframes background-change {
//   /* First key frame */
//   0% {
//     background-image: url(donor.png);
//   }
//
//   /* Second key frame */
//   50% {
//     background-image: url(donor2.jpg);
//   }
//
//   /* Third key frame */
//   100% {
//     background-image: url(donor3.jpg);
//   }
// }
