@bg1:#524968;
@bg2:#645e72;
@bg3:#b50c6e;
@bg4:#978bc1;
body {
  display: grid;
  grid-template-areas:
    'header header header header   '
    'nav nav nav nav '
    'main main  main img'
    'footer footer  footer footer ';
  grid-gap: 10px;
  background-color: @bg4;


}
a:link {
  text-decoration: none;
}
.header {
  grid-area: header;
  background-color: @bg1;
  height: 100px;
  text-align: center;
  font-size: 60px;
  border-bottom: 5px solid @bg3;
  padding-top: 30px;

}
.Navigation {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  background-color: @bg1;
  border-top: 5px solid @bg3;
  border-bottom: 5px solid @bg3;
  .item {
    padding-left: 4%;
    font-size: 20px;
    font-weight: bold;

  }
}
.info {
  grid-area: main;
  background-color: @bg1;
  border: 5px solid @bg3;
  text-align: center;
  overflow-y: auto;
  input {
    padding: 5px;
    width: 471px;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
    .submit {
      width: 100px;
	    float: right;
    }
  }

  label {
  	text-align: right;
  	margin-right: 15px;
  	width: 100px;
  	padding-top: 5px;
  	font-size: 1.4em;
  }
  h1 {
    padding-left: 10px;
  }

}
.Foot {
  grid-area: footer;
  background-color: @bg1;
  text-align: center;
  border: 5px solid @bg3;
  margin-top: 1vh;
}
.logins {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 20px;
  a {
    text-decoration: none;
  }
  .item3 {
    border: 1px solid black;
    font-size: 25px;
    margin-left: 10px;
    background-color: @bg4;
    &:hover {
      background-color: white;
    }
  }
}

#slideshow {
    margin: 50px auto;
    width: 240px;
    height: 240px;
    padding: 10px;

}
#slideshow > div {
    top: 10px;
    left: 10px;
    right: 10px;


}
img {
  width: 220px;
  height: 230px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.ajax {
	grid-area: img;
	text-align: center;
}
@media screen and (max-width: 1000px) {
  body {

  }
  .header {
    font-size: 300%;;
  }
  .Navigation {
    display: flex;
    flex-direction: column;
  }
  .images
  {
    display: none;
  }
  .images2{
    display: none;
  }
  }
