@bg1:#524968;
@bg2:#645e72;
@bg3:#b50c6e;
@bg4:#978bc1;

body {
  display: grid;
  grid-template-areas:
    'header header header header  header header'
    'nav nav nav nav nav nav '
    'img img main main img2 img2'
    'footer footer  footer footer footer footer';
  grid-gap: 10px;
  background-color: @bg4;


}
a:link {
  text-decoration: none;
}
.header {
  grid-area: header;
  background-color: @bg1;
  height: 100px;
  text-align: center;
  font-size: 60px;
  border-bottom: 5px solid @bg3;
  padding-top: 20px;

}
.Navigation {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  background-color: @bg1;
  border-top: 5px solid @bg3;
  border-bottom: 5px solid @bg3;

  .item {
    padding-left: 5%;
    font-size: 20px;
    padding-right: 2%;

    font-weight: bold;
    &:hover {
      background-color: @bg2;

    }
  }
}
.info {
  grid-area: main;
  background-color: @bg1;
  border: 5px solid @bg3;
  height: 60vh;

  h1 {
    padding-left: 10px;
  }
  p {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
}
.images {
  grid-area: img;
  text-align: center;
  width: 300px;
  border: 5px solid @bg3;
}

.images2 {
  grid-area: img2;
  text-align: center;
  width: 300px;
  border: 5px solid @bg3;
}

.Foot {
  grid-area: footer;
  background-color: @bg1;
  text-align: center;
  border: 5px solid @bg3;
  margin-top: 1vh;
}
.logins {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 20px;
  .item3 {
    border: 1px solid black;
    font-size: 25px;
    margin-left: 10px;
    background-color: @bg4;
    &:hover {
      background-color: white;
    }
  }
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

}
img {
  width: 220px;
  height: 230px;
}

#slideshow2 {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow2 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.donorslist {
  display: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 20px;
  a {
      color: @bg3;
  }

}

.donorslist2 {
  display: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 20px;
  a {
    color: @bg3;
  }

}
@media screen and (max-width: 1000px) {
  body {

  }
  .header {
    font-size: 300%;;
  }
  .Navigation {
    display: flex;
    flex-direction: column;
  }
  .images
  {
    display: none;
  }
  .images2{
    display: none;
  }
  }
