body {
	 display: grid;
	 grid-template-areas: 'header header header'
	 											'main main2 main3'
												'check main4 main4';
	grid-gap: 20px;
}
.header {
	grid-area: header;
	text-align: center;
	background-color: blue;
}
.Battalion
{
	grid-area: main;
	border: solid black 1px;
	height: 400px;
	text-align: center;
}
.Squad
{
	grid-area: main2;
	border: solid black 1px;
	height: 400px;
	text-align: center;
}
.profile{
	grid-area: main3;
	border: solid black 1px;
	height: 400px;
	text-align: center;
}
.img
{
	grid-area: main4;

	height: 500px;
	text-align: center;
	
}
