@bg1:#524968;
@bg2:#645e72;
@bg3:#b50c6e;
@bg4:#978bc1;

body {
  display: grid;
  grid-template-areas:
    'header header header header  header '
    'nav nav nav nav nav '
    'img img main main main'
    'footer footer  footer footer footer';
  grid-gap: 10px;
  background-color: @bg4;


}
a:link {
  text-decoration: none;
}
.header {
  grid-area: header;
  background-color: @bg1;
  height: 100px;
  text-align: center;
  font-size: 60px;
  border-bottom: 5px solid @bg3;
  padding-top: 20px;

}
.Navigation {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  background-color: @bg1;
  border-top: 5px solid @bg3;
  border-bottom: 5px solid @bg3;

  .item {
    padding-left: 5%;
    font-size: 20px;
    padding-right: 2%;

    font-weight: bold;
    &:hover {
      background-color: @bg2;

    }
  }
}
.info {
  grid-area: main;
  background-color: @bg1;
  border: 5px solid @bg3;
  height: 60vh;

  h1 {
    padding-left: 10px;
  }
  p {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
}
.images {
  grid-area: img;
  text-align: center;
  width: 300px;
  border: 5px solid @bg3;
  .check {
  background-repeat: no-repeat;
  animation-name: background-change;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
}
.imges2 {
  grid-area: img2;
}
.Foot {
  grid-area: footer;
  background-color: @bg1;
  text-align: center;
  border: 5px solid @bg3;
  margin-top: 1vh;
}
.logins {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 20px;
  .item3 {
    border: 1px solid black;
    font-size: 25px;
    margin-left: 10px;
    background-color: @bg4;
    &:hover {
      background-color: white;
    }
  }
}

@keyframes background-change {
  /* First key frame */
  0% {
    background-image: url(1.jpg);
  }

  /* Second key frame */
  50% {
    background-image: url(2.jpg);
  }

  /* Third key frame */
  100% {
    background-image: url(3.jpg);
  }
}
