@bg1: purple;
@bg2: #cc00cc;
@bg3: #FF66FF;
@bg4: #660066;
@hov: #7d3c98 ;
@hov1: #af7ac5;
@hov2: #FF99FF;

 .title-check  {

   text-align: center;
   font-size: 35px;
   background-image: linear-gradient(90deg,@bg1,@bg2,@bg3);
 }
 .title {
   .title-check();
 }

  .top {
    background-color:#660066 ;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
  }
  .top > .item {
    display: inline-block;
    margin-left: 5%;
    margin-right: 4%;

  }
  .top > .item:nth-child(3n+1){
    background-color: @bg1;
    &:hover {
      background-color: @hov;
    }
  }
  .top > .item:nth-child(3n+2){
    background-color: @bg2;
    &:hover {
      background-color: @hov1;
    }
  }
  .top > .item:nth-child(3n+3){
    background-color: @bg3;
    &:hover {
      background-color: @hov2;
    }
  }
  .sidebar  {
    position: fixed;

    .subItem {
    display: none;
  }
    .item {

      padding-left: 10px;
      &:hover {
        font-weight: bold;
        .subItem {
          display: block;
          padding-left: 25px;
          &:hover {
            color: red;
          }
        }
      }
    }
  }


  .container{
    background-color: @bg1;
    border-radius: 15px;
    height: 100vh;

  }






  .flexbottom {
    margin-left: 30%;
    background-color: @bg3;
    display: flex;
    flex-wrap: wrap;
  }
  .flexbottom > .mon {
    border: 0.5px solid black;
    border-radius: 10px;
    width: 18%;
    margin: 2px;
  }
  .flexbottom > .mon:nth-child(even){
    background-image: linear-gradient(90deg,@bg1,#1f1f2e);
  }
  .flexbottom > .mon:nth-child(odd){
    background-image: linear-gradient(90deg,#1f1f2e,@bg1);
  }
  h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    width:100%;
  }
@media screen and (max-width:814px) {
  .top {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .top > .item {
    display: block;
    margin:0;
    padding:0;

  }
  .sidebar {
    display: none;
  }
  .container {
    border-radius: 0;
  }
  .bargraph {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:  20%;
   div {
      background-color: red;
        padding: 10px 0;
      }
    .bar1 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .bar2 {
    	 grid-column-start: 1;
      grid-column-end: 3;
    }
    .bar3 {
    	 grid-column-start: 1;
      grid-column-end: 6;
    }
    .bar4 {
    	 grid-column-start: 1;
      grid-column-end: 2;
    }
}

  .flexbottom {
    margin : 0;
    .mon {
      div:first-child{
        color: blue;
      }
      div {
        color: lightblue;
      }
      width: 100%;
    }
    .mon:nth-child(even){
      background-image: radial-gradient(@bg1,#1f1f2e);
    }
    .mon:nth-child(odd){
      background-image: radial-gradient(@bg1,#1f1f2e);
    }
  }
}
@media screen and (min-width:814px) {
  .bargraph {

      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-gap: 20px;
      padding-top: 10px;
      margin-left: 40%;

          .bar1 {
            grid-row-start: 3;
            grid-row-end: 10;
          }
          .bar2 {
            grid-row-start: 5;
            grid-row-end: 10;
          }
          .bar3 {
            grid-row-start: 1;
            grid-row-end: 10;
          }
          .bar4{
            grid-row-start: 6;
            grid-row-end: 10;
          }
}
  .bargraph > div {
  background-color: green;

  padding: 10% 0;
  width: 30px;


}
}
